<div class="section" ng-show="vm.dataLoading">
	<div class="container">
		<div class="col s12 m4 center loading-spinner">
			<div class="preloader-wrapper big active">
			    <div class="spinner-layer spinner-yellow-only">
			        <div class="circle-clipper left">
			          	<div class="circle"></div>
			        </div>
			        <div class="gap-patch">
			          	<div class="circle"></div>
			        </div>
			        <div class="circle-clipper right">
			          	<div class="circle"></div>
			        </div>
			    </div>
			</div>
		</div>
	</div>
</div>

<div class="section" ng-show="!vm.dataLoading">
	<div class="container">
		<div>
			<div class="input-field">
				<input id="user-search" class="white-text" type="text" class="validate" ng-model="vm.searchQuery" ng-change="vm.search()" placeholder="Search for your score..."/>
			</div>
		</div>
		
		<div ng-show="vm.leaderboard.length === 0 && vm.searchQuery !== '' && vm.leaderboardRef.length !== 0">
				<p>
					<span class="white-text">We cannot find any results for the search '<span ng-bind="vm.searchQuery"></span>'. Ensure you have typed in the correct text or try something less specific.</span>
				</p>
		</div>
		<div ng-show="vm.leaderboardRef.length === 0">
				<p>
					<span class="white-text">There are currently no results for today. Check back later!</span>
				</p>
		</div>
		<ul class="leaderboard">
			<li ng-repeat="entry in vm.leaderboard | score">
				<div class="row">
					<div class="col m2 s2">
						<h3 class="rank" ng-bind="$index + 1"></h3>
					</div>

					<div class="col m7 s7">
						<h3 class="name" ng-bind="entry.name"></h3>
					</div>

					<div class="col m3 s3 right-align">
						<h3 class="score" ng-bind="entry.score"></h3>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>

		<!-- <div class="section" ng-show="!vm.dataLoading">
			<table class="striped">
				<thead>
					<tr>
						<th>Rank</th>
						<th>Name</th>
						<th>Score</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="entry in vm.leaderboard | score">
						<td><pre>{{$index + 1}}</pre></td>
						<td ng-bind="entry.name"></td>
						<td ng-bind="entry.score"></td>
					</tr>
				</tbody>
			</table>
		</div> -->
<!-- 	</div>
</div> -->
