<div class="section dashboard">
    <div class="container">
		<div class="row">
			<div class="col m6" ng-include="'app/admin/add-user.html'"></div>
			<div class="col m6" ng-include="'app/admin/add-score.html'"></div>
		</div>

		<div class="row">
			<div class="col m12">
				<div class="card overflowable">
					<div class="card-content">
						<span class="card-title">Leaderboard</span>

              <select class="" ng-model="vm.selectedDay" ng-change="vm.changeDay()" watch material-select>
                  <option  ng-repeat="value in vm.days">{{ value }}</option>
              </select>

              <div class="input-field">
                  <input id="leaderboard-search" placeholder="Search for a score here..." type="text" class="validate" ng-model="vm.leaderboardSearchQuery" ng-change="vm.searchLeaderboard()" ng-model-options="{ debounce: 300 }"/>
              </div>

              <div ng-show="vm.leaderboard.length === 0">
          				<p>
          					<span ng-show="!vm.dataLoading && vm.leaderboardSearchQuery.length === 0">There are currently no results for the selected day.</span>
                            <span ng-show="!vm.dataLoading && vm.leaderboardSearchQuery.length !== 0">There are no results for the search '<span ng-bind="vm.leaderboardSearchQuery"></span>'. Try a broader search term.</span>
          				</p>
          		</div>

              <div ng-show="vm.leaderboard.length > 0">
  					    <table class="bordered">
  					        <thead>
  					        <tr>
  					            <td>Name</td>
  					            <td>Email</td>
  					            <td>Score</td>
  					            <td>Day</td>
  					            <td>Actions</td>
  					        </tr>
  					        </thead>

  					        <tbody>
  					        <tr  dir-paginate="entry in vm.leaderboard | score | itemsPerPage: 5" pagination-Id="entry">
  					            <td ng-bind="entry.name"></td>
  					            <td ng-bind="entry.email"></td>
  					            <td ng-bind="entry.score"></td>
  					            <td ng-bind="entry.conferenceDay"></td>
  					            <td>
                            <button class="btn waves-effect intergen" ng-click="vm.popDetail(entry.id)">Detail</button>
                            <button class="btn waves-effect intergen" ng-click="vm.removeScore(entry)">Remove</button>
                        </td>
  					        </tr>
  					        </tbody>
  					    </table>
                <dir-pagination-controls pagination-id="entry" class="yellow"></dir-pagination-controls>
              </div>
                        <div class="clearfix"></div>
					</div>

				</div>
			</div>
		</div>

		<div class="row">
			<div class="col m12">
				<div class="card">
					<div class="card-content">
						<span class="card-title">Users</span>

            <div class="input-field">
                <input id="user-search" placeholder="Search for a user here..." type="text" class="validate" ng-model="vm.userSearchQuery" ng-change="vm.searchUsers()" ng-model-options="{ debounce: 300 }" />
            </div>

            <div ng-show="vm.users.length === 0">
                <p>
                  <span class="white-text">There are currently no users here. Go create some!</span>
                </p>
            </div>

            <div ng-show="vm.users.length > 0">
              <table class="bordered">
                  <thead>
                  <tr>
                      <td>Name</td>
                      <td>Phone</td>
                      <td>Email</td>
                      <td>Company</td>
                      <td>Actions</td>
                  </tr>
                  </thead>

                  <tbody>
                  <tr dir-paginate="user in vm.users | itemsPerPage: 5" pagination-id="user">
                      <td ng-bind="user.name"></td>
                      <td ng-bind="user.phone">021111222333</td>
                      <td ng-bind="user.email">jono@cairns.co.nz</td>
                      <td ng-bind="user.company">Intergen</td>
                      <td><button class="btn waves-effect intergen right" ng-click="vm.removeUser(user)">Remove</button></td>
                  </tr>
                  </tbody>
              </table>

              <dir-pagination-controls pagination-id="user"></dir-pagination-controls>
            </div>


                        <div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
