nav {
	background-color: white;
	color: #111;

	a.brand-logo {
		color: #111;
		font-size: 1.3em;
	}

	ul.right {
		a {
			color: #111;

			&:hover {
				color: white;
				background-color: @halo-blue;
			}
		}
	}

	.media-full-screen({
		display: none;
	});
}

.button-collapse {
  color: #111;
}