nav {
	box-shadow: none;
    background: none;
    padding: 30px 0 0;
    margin-bottom: 50px;
    height: 50px;

    .logo img {
    	margin-top: 10px;
    	height: 40px;
    }

    ul {
    	margin: 0; padding: 0;

    	li {
    		text-transform: uppercase;

			&:hover {
				background: none;
			}

    		a:hover {
				color: @intergen-yellow;
    		}
    	}
    }

    .media-full-screen({
    	display: none;
    });
}