<nav role="navigation">
	<div class="nav-wrapper container">
		<a id="logo-container" href="#" class="brand-logo">Intergen Ignite Leaderboard</a>

		<ul class="right hide-on-med-and-down">
			<li><a ui-sref="home">Home</a></li>
			<li><a ui-sref="leaderboard">Leaderboard</a></li>
			<li><a ui-sref="add">Admin</a></li>
		</ul>

		<ul id="nav-mobile" class="side-nav">
			<li><a ui-sref="home">Home</a></li>
			<li><a ui-sref="leaderboard">Leaderboard</a></li>
			<li><a ui-sref="add">Admin</a></li>
		</ul>
		
		<a href="#" data-activates="nav-mobile" data-sidenav="left" class="button-collapse"><i class="material-icons">menu</i></a>
	</div>
</nav>