<footer class="page-footer">
	<div class="container">
		<div class="row">

			<div class="col l6 s12">
				<h5>Information</h5>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque quis vitae dolor, voluptatem ratione quibusdam quia ullam quaerat veniam nemo ipsam laudantium labore sunt quidem nobis odio repellendus deserunt delectus.
				</p>
			</div>

			<div class="col l6 s12">
				<h5>Dependencies</h5>
				<ul class="dependencies">
					<li><a href="https://angularjs.org/">Angular</a></li>
					<li><a href="http://materializecss.com/">Materialize</a></li>
					<li><a href="https://krescruz.github.io/angular-materialize/">Angular Materialize</a></li>
					<li><a href="https://lodash.com/">Lodash</a></li>
					<li><a href="http://modernizr.com/">Modernizr</a></li>
					<li><a href="https://angular-ui.github.io/ui-router/">UI Router</a></li>
					<li><a href="http://www.typescriptlang.org/">Typescript</a></li>
					<li><a href="http://definitelytyped.org/tsd/">TSD</a></li>
					<li><a href="http://gulpjs.com/">Gulp</a></li>
					<li><a href="http://www.browsersync.io/">Browser Sync</a></li>
				</ul>
			</div>

		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			<div class="left">© Copyright 2015 Intergen Limited</div>
			<div class="right">© Copyright 2015 Intergen Limited</div>
		</div>
	</div>
</footer>