// Colours
@intergen-yellow: #FFD300;
@halo-blue: #044D69;
@halo-outline: #69AAD2;

// Screen widths
@screen-phone: 600px;
@screen-tablet: 992px;
@screen-desktop: 993px;

// Responsive Mixins
.media-phone(@rules) {
	@media screen and (max-width: @screen-phone) {
		@rules();
	}
}

.media-tablet(@rules) {
	@media screen and (min-width: @screen-tablet) and (max-width: @screen-phone + 1) {
		@rules();
	}
}

.media-desktop(@rules) {
	@media screen and (min-width: @screen-desktop) {
		@rules();
	}
}

.media-full-screen(@rules) {
	@media (device-width: 100vw) and (device-height: 100vh) and (min-width: @screen-desktop) {
		@rules();
	}
}

// Fonts
@segoe: 'Segoe UI', 'Helvetica', sans-serif;
@segoe-semibold: 'Segoe UI Semibold', 'Helvetica', sans-serif;
@segoe-bold: 'Segoe UI Bold', 'Helvetica', sans-serif;
@segoe-light: 'Segoe UI Light', 'Helvetica', sans-serif;

.btn-large, .btn {
	&.intergen {
		background: @intergen-yellow;
		color: black;
	}
}