.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.section.technologies {
	padding-top: 50px;

	.row {
		h5.center {
			margin-top: 40px;
		}
	}
}

.hero {
	h5.header {
		line-height: 1.5em;
	}
}

.prize-wrap {
	text-align: center;

	img {
		width: 500px;
	}
}